<div class="meta__item-datetime meta__item">
			<a class="" title="отправить в Telegram" rel="noopener noreferrer" data-url="https://t.me/share/url?url=https%3A%2F%2Ft.me%2Fiv%3Furl%3Dhttps%3A%2F%2Fxmr.ru{{.Page.RelPermalink }}%26rhash%3D6f06b29029fcad" href="https://t.me/share/url?url=https%3A%2F%2Ft.me%2Fiv%3Furl%3Dhttps%3A%2F%2Fxmr.ru{{.Page.RelPermalink }}%26rhash%3D6f06b29029fcad&text= ссылка на сайт: https://xmr.ru/{{.Page.RelPermalink}}"  target="_blank">
				{{ partial "svg/telegram.svg" (dict "class" "meta__icon") }}
			</a>
		</div>